<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Parte 2</span>
            </a>
        </header>

        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <app-listado-producto (productoSeleccionadoEvento)="tomarProducto($event)"></app-listado-producto>
            </div>
        </div>

        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <app-detalles-producto [productoSeleccionadoRecibido]="productoSeleccionado"></app-detalles-producto>
            </div>
            <div class="col-md-6">
                <app-detalles-producto-pais [productoSeleccionadoRecibido]="productoSeleccionado"></app-detalles-producto-pais>
            </div>
        </div>
    </div>
</main>