<h2 class="display-5 fw-bold">Listado de Productos</h2>
<p style="cursor: pointer;" (click)="ver()">Haga click sobre un producto para mostrar un detalle sobre este.</p>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">codigo</th>
                <th scope="col">descripcion</th>
                <th scope="col">precio</th>
            </tr>
        </thead>
        <tbody>
            <tr style="cursor: pointer;" (click)="mostrarDetalles(producto)" *ngFor="let producto of listaProductos">
                <td>{{producto.codigo}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.precio}}</td>
            </tr>
        </tbody>
    </table>

</div>